{# Twig template for SimpleSysMon - SysLoadBars #}

<style>
    .sysbar td span {
        font-size: 0.95em;
        white-space: nowrap;
        margin-left: 6px;
        display: none;
    }    
    .sysbar td:hover span {
        display: block;
    }    
</style>


<div style="margin:15px;">
    <div style="white-space:nowrap;">{{'SimpleSysMon_SystemLoad'|translate}}</div>
    
    <table style="width:100%; border-collapse:collapse;margin-top:4px;">
        <tr style="height:18px;">
            <td style="width:{{ sysLoad.avgload.used|number_format }}%; background-color:#28a428;"></td>
            <td style="width:{{ sysLoad.avgload.free|number_format }}%; background-color:#e8e8e8;font-size:1.1em;font-weight:bold;">&nbsp;{{ sysLoad.avgload.used|number_format }} %</td>
        </tr>
    </table>
    
    <table style="width:100%; border-collapse:collapse;">
        <tr><td colspan="2">&nbsp;</td></tr>
    </table>
        
    <div style="white-space:nowrap;">{{'SimpleSysMon_UsedMemory'|translate}}</div>
    
    <div class="sysbar">
        <table style="width:100%; border-collapse:collapse;margin-top:4px;">
            <tr style="height:18px;">
                <td style="width:{{ sysLoad.memory.procUsed|number_format }}%; color:#ffffff; background-color:#d4291f;"><span>{{'SimpleSysMon_LabelUsedMemory'|translate}}: {{ sysLoad.memory.valUsed|number_format }} MB</span></td>
                <td style="width:{{ sysLoad.memory.procCached|number_format }}%; background-color:#c0c000;"><span>{{'SimpleSysMon_LabelCachedMemory'|translate}}: {{ sysLoad.memory.valCached|number_format }} MB</span></td>
                <td style="width:{{ sysLoad.memory.procFree|number_format }}%; background-color:#e8e8e8;font-size:1.1em;font-weight:bold;">&nbsp;{{ sysLoad.memory.procUsed+sysLoad.memory.procCached|number_format }} %</td>
            </tr>
        </table>
    </div>
    
    <table style="width:100%; border-collapse:collapse;">
        <tr><td colspan="2">&nbsp;</td></tr>
    </table>
        
    <div style="white-space:nowrap;">{{'SimpleSysMon_NetTraffic'|translate}}</div>
    
    <div class="sysbar">
        <table style="width:100%; border-collapse:collapse;margin-top:4px;">
            <tr style="height:18px;">
                <td style="width:{{ sysLoad.net.procDownload|number_format }}%; color:#ffffff; background-color:#d4291f;"><span>{{'SimpleSysMon_LabelDownload'|translate}}: {{ sysLoad.net.valDownload|number_format }} kB/s</span></td>
                <td style="width:{{ sysLoad.net.procUpload|number_format }}%; background-color:#c0c000;"><span>{{'SimpleSysMon_LabelUpload'|translate}}: {{ sysLoad.net.valUpload|number_format }} kB/s</span></td>
                <td style="width:{{ sysLoad.net.procFree|number_format }}%; background-color:#e8e8e8;font-size:1.1em;font-weight:bold;">&nbsp;{{ sysLoad.net.procDownload+sysLoad.net.procUpload|number_format }} %</td>
            </tr>
        </table>
    </div>
    
    <table style="width:100%; border-collapse:collapse;">
        <tr><td colspan="2">&nbsp;</td></tr>
    </table>
        
    <div style="white-space:nowrap;">{{'SimpleSysMon_UsedDisk'|translate}}</div>
    
    <div class="sysbar">
        <table style="width:100%; border-collapse:collapse;margin-top:4px;">
            <tr style="height:18px;">
                <td style="width:{{ sysLoad.disk.procUsed|number_format }}%; color:#ffffff; background-color:#d4291f;"><span>{{ sysLoad.disk.valUsed|number_format(1) }} GB</span></td>
                <td style="width:{{ sysLoad.disk.procFree|number_format }}%; background-color:#e8e8e8;font-size:1.1em;font-weight:bold;">&nbsp;{{ sysLoad.disk.procUsed|number_format }} %</td>
            </tr>
        </table>
    </div>
        
    <div style="height:1.0em;"> </div>
    
</div>